<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itlike.mapper.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.itlike.domain.Teacher" >
    <result column="TEACHER_ID" property="teacherId" jdbcType="DECIMAL" />
    <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
    <result column="COURSE" property="course" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="com.itlike.domain.Teacher" >
    insert into TEACHER (TEACHER_ID, TEACHER_NAME, COURSE, 
      AGE)
    values (#{teacherId,jdbcType=DECIMAL}, #{teacherName,jdbcType=VARCHAR}, #{course,jdbcType=VARCHAR}, 
      #{age,jdbcType=DECIMAL})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select TEACHER_ID, TEACHER_NAME, COURSE, AGE
    from TEACHER
  </select>
  <!-- 新增用户，用遍历Map的key和value的方式，可以实现只插入有效值 -->
  <!-- 表头取值必须用${xxxxx},不可以用#{xxxxx}，否则会报错 -->
  <insert id="insertTeacher" parameterType="java.util.Map">
    insert into ${table_name} (
    <foreach collection="columnMap" item="value" index="key" separator=",">
      ${key}
    </foreach>
    )
    values (
    <foreach collection="columnMap" item="value" index="key" separator=",">
      #{value}
    </foreach>
    )
  </insert>




</mapper>